<!DOCTYPE html>
<html>
  <head>
    <title>Warp Handlebars template example</title>
  </head>
  <body>
    {{#each codes}}
    <a href="/from/{{lookup this 0}}/to/{{lookup this 1}}">
      <img src="/frame/{{lookup this 0}}" alt="">
    </a>
    {{/each}}
  </body>
</html>
